.container{
  background-color: whitesmoke !important;
  display: flex;
  align-items: center;
}
.jumbotron{
  width:50%;
  background-color: white !important;
  box-shadow: 0px 0px 0px 3px white !important;
}
.jumbotron h1{
  font-size: 26px;
  font-weight:bold;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.jumbotron .progressmenu{
  list-style-type: none;
  overflow: hidden;
  padding:5px 5px 5px 81px;
  margin-top:20px;
}
.jumbotron .progressmenu li{
  text-align: start;
  display: inline;
  width:24%;
  position: relative;
  color:white;
  height:40px;
  float: left;
}
.progressmenu li.active::after{
  background-color:#673AB7 !important;
}
.progressmenu li.active::before{
  background-color: #673AB7 !important;
}
.progressmenu li:not(:last-child)::after{
  content:" ";
  width:100%;
  position:absolute;
  top:45%;
  height: 3px;
  left:27%;
  background-color: lightgray;
}
.progressmenu li::before{
  display: block;
  width:40px;
  height:40px;
  border-radius: 50%;
  position:absolute;
  top:0%;
  padding:6px;
  text-align: center;
  background-color: lightgray;
}
.progressmenu li.one::before{
  content: "1";
}
.progressmenu li.two::before{
  content: "2";
  
}
.progressmenu li.three::before{
  content: "3";
  
}
.progressmenu li.four::before{
  content: "4";
  
}
.custom-card{
  opacity: 0;
  transition: opacity 5000ms ease-in;
  display: none;
}
.custom-card.active{
  opacity: 1 !important;
  display: flex;
  transition: opacity 5000ms ease-out;
  padding:5px;
  flex-direction: column;
  transition-delay: 5000ms;
}
.custom-card label{
  width:100%;
}
.btn{
  display: block !important;
  width:100%;
}
.custom-card p{
  color:rgb(134, 132, 132);
  text-align: center;
}
.custom-card .Form3-flex{
  display: flex;
  flex-direction: row;
}
.custom-card .Form3-flex .Form3-flex-col{
  margin:5px 5px 5px 0px;
  padding:5px;
  border:1px solid lightgray;
  flex-direction: column;
  border-radius: 5px;
}
.custom-card .Form3-flex .Form3-flex-col.active{
  border:1.5px solid #673AB7!important;
}
.custom-card .Form3-flex .Form3-flex-col h1{
  font-size: 16px;
  text-align: start;
  letter-spacing: normal;
}
.custom-card .Form3-flex .Form3-flex-col p{
  font-size: 16px;
  color:rgb(134, 132, 132);
  text-align: start;
}
.custom-card .Form{
  width:80%;
  margin-left: auto;
  margin-right: auto;
}
.custom-card .Form4check{
  text-align: center;
  padding:40px 5px 40px 5px;
}
.btn{
  background-color: #673AB7 !important;
}
@media screen and (max-width:767px) {
    .progressmenu{
      padding:5px 5px 5px 35px !important;
    }
}



